body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.navbar {
 background-color: rgba(0,0,0,0.8);
 color: blue;
}

#map-canvas {
	margin-top: 50px;
	height: 100vh;
	width: 100%;

}

